<div class='cell cell--news'>

	<header class='cell__header'>
		<div class='cell__image' style='background-image:url("{{image}}")'></div>
	</header>

	<div class='cell__content'>

		<div class='cell__content-container'>

			<div class='cell__tag cell__tag--{{tag}}'>
				{{tag}}
			</div>

			<div class='cell__title'>
				{{title}}
			</div>

			<p class='cell__body'>{{description}}</p>

		</div>
		
		{{> helpers/button title=button_title link=button_link icon='icon-Enviu_icons_pijl_rechts'}}

	</div>

</div>
								